@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.collapse ul li {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
    overflow: hidden;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin: 0px 12px;
    text-decoration: none;
    position: relative;
    /* Added for positioning the underline */
}

.list-ul {
    list-style: circle;
}

.left-content {
    width: 35%;
    color: white;
    font-size: 3rem;
    margin: 70px 0px;
    position: relative;
}
/* .left-content img{
    margin: auto;
    width: 65%;
    border-radius: 140px;
    position: absolute;
    opacity: 0.5;
} */
.right-content {
    display: flex;
    width: 35%;
    justify-content: center;
    margin: 50px 0px;
}

.right-content img {
    width: 80%;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 85vh;
}

hr {
    border: 1px solid #b1b1ca;
    width: 100%;
}

.col {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.col img {
    width: 100px;
}

.secondSection {
    margin-bottom: 45px;
}
.card{
    width: 350px;
}
.card img{
    width: 348px;
    height: 100px;
    object-fit: cover;
}
.nav-item img:hover{
    filter: brightness(80%);
    cursor: pointer;
}

.nav-item a:hover{
    color:#a3a3b1;
}

@media screen and (max-width: 1200px) {

    /* CSS rules for screens with a maximum width of 768 pixels */
    .firstSection {
        display: inline;
    }

    .right-content {
        width: 100%;
    }

    .left-content {
        text-align: center;
        width: 100%;
    }

    .right-content img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {

    li a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
        /* Added for smooth animation */
    }

    li a:hover::before {
        width: 100%;
    }

    .nav-link.active {
        border-bottom: 2px solid white;
        /* Adjust the thickness and color as needed */
    }

    .Cursor {
        pointer-events: none;
        position: fixed;
        display: block;
        border-radius: 0;
        transform-origin: center center;
        mix-blend-mode: difference;
        top: 0;
        left: 0;
        z-index: 1000;
        filter: url("#goo");
    }

    .Cursor span {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background-color: white;
        transform-origin: center center;
        transform: translate(-50%, -50%);
    }

}

@media screen and (max-width: 992px) {

    .navbar-nav{
        height: 95%;
        border: 1px solid white;
        border-radius: 1%;
    }

    .nav-item{
        border: 1px solid white;
        border-radius: 2%;
        margin: 10px;
    }
    .nav-item:hover{
        background-color: black;
    }

    .offcanvas-body ul li a {
        color: white;
        padding: 5px;
    }
    .offcanvas-title{
        color: white;
    }
    .offcanvas-header{
        background-color: #212529;
    }
    .offcanvas-body{
        background-color: #19191e;
    }
}

@media screen and (max-width: 516px) {
    .skillImg img {
        width: 66px;
    }

}

@media screen and (max-width: 366px) {
    .skillImg img {
        width: 55px;
    }

}